
// header
#header{
    height: 100px;
    >a{
        float: left;
        display: block;
        width: 230px;
        height: 100px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    #search{
        width: 498px;
        height: 71px;
        float: left;
        margin: 23px 0 0 70px;
        position: relative;
        input{
            width: 406px;
            height: 34px;
            border: #e74085 solid 2px;
            outline: none;
            text-align: left;
            text-indent: 15px;
            padding:0 5px 0 15px;
        }
        button{
            width: 73px;
            height: 38px;
            background: #e74085;
            border: 0;
            cursor: pointer;
            color: #ffffff;
            outline-style: none;
            position: absolute;
            right: -3px;
            top:0px;
        }
        ul{
            margin-top: 6px;
        }
        ul li{
            float: left;
            color: #999999;
            font-size: 12px;
            margin: 0px 3px;
            a{
                color: #999999;
            }
        }
        li:nth-child(2) a{
            color: red;
        }
    }
    
    #cart_icon{
        width: 130px;
        height: 39px;
        text-align: center;
        background: url(../img/shopping-cart1.gif);
        float: right;
        line-height: 39px;
        text-indent: 2em;
        margin-right: 23px;
        margin-top: 23px;
    }
}
//navigate
#navigate{
    height: 38px;
    .left{
        float: left;
        line-height: 38px;
        a:nth-of-type(1){
            float: left;
            width: 112px;
            height: 38px;
            text-align: center;
            position: relative;
            color: #666;
            border: 1px solid rgb(187, 187, 187);
            b{
                position: absolute;
                vertical-align: middle;
                top: 12px;
                right: 14px;
                width: 16px;
                height: 13px;
                background: url(../../dist/img/bg2.png) no-repeat 0 -1258px;
            }
        }
        a:nth-of-type(2){
            float: left;
            width: 112px;
            height: 38px;
            text-align: center;
            position: relative;
            color: #666;
            border: 1px solid rgb(187, 187, 187);
            border-left: none;
            b{
                position: absolute;
                vertical-align: middle;
                top: 12px;
                right: 3px;
                width: 16px;
                height: 13px;
                background: url(../../dist/img/bg2.png) no-repeat 0 -1273px;
            }
        }
        span{
            float: left;
            width: 112px;
            height: 38px;
            background: red;
            text-align: center;
            border: 1px solid white;
        }
        
            
        
    }
    ul{
        float: left;
        margin-left: 20px;
        li{
            float: left;
            position: relative;
            margin: 0px 30px;
            b{
                float: left;
                width: 13px;
                height: 17px;
                background: url(../../dist/img/bg2.png) -35px -1298px;
                background-repeat: no-repeat;
                vertical-align:middle;
                position: absolute;
                top:10px;
                left: -21px;
            }
            a{
               float: left;
                // width: 123px;
                height: 34px;
                color: #000000;
                font-size:16px;
                font-weight: 700;
                line-height: 38px;
            }
        }
    }
}
// slide
#slide{
    width:100%;
    position: relative;
    height:360px;
    .all{
        width:100%;
        position: absolute;
        top:0px;
        padding-left: 12px;
        height:360px;
        .screen {
            width:770px;
            height:360px;
            overflow:hidden;
            position:relative;
            margin:0 auto;
            ul {
                position:absolute;
                left:0;
                top:0px;
                width: 4620px;
            }
            li {
                width:770px;
                height:360px;
                overflow:hidden;
                float:left;
                img{
                    height: 360px;
                }
            }
        }
        ol {
            position:absolute;
            right:605px;
            bottom:22px;
            height:21px;
            text-align:center;
            li {
                float:left;
                width:21px;
                height:21px;
                line-height:21px;
                background:#999;
                margin-left:10px;
                cursor:pointer;
                font-size:12px;
                font-family:Verdana;
                border-radius:15px;
            }
            li.current {
                background:#fff;
            }
        }
    }
        // .pet-left
        .pet-left{
            position: absolute;
            width: 228px;
            height: 360px;
            background: white;
            top: 3px;
            left: 74px;
            font-size: 12px;
            text-align: center;
            p{
                a{
                    display: block;
                    width: 60px;
                    height: 60px;
                    background: url(../../dist/img/new_petcate.png);
                    margin:30px auto 5px;
                }
                span{
                    color: #333333;
                    line-height: 24px;
                }
                .red_text{
                    color: red;
                }
                .gray_text{
                    display: block;
                    width:108px ;
                    height: 28px;
                    border: #aeaeae 1px solid;
                    color: #aeaeae;
                    background: white;
                    line-height: 28px;
                }
            }
            .sec_p{
                a{
                    background: url(../../dist/img/new_petcate.png) 0px -60px;
                    margin:30px auto 5px;
                }
                span{
                    color: #333333;
                    line-height: 24px;
                }
                .red_text{
                    color: red;
                }
                .gray_text{
                    display: block;
                    width:108px ;
                    height: 28px;
                    border: #e74085 1px solid;
                    color: #e74085;
                    background: white;
                }
            }
        }
    
}
// pet-right
.pet-right{
    width: 200px;
    height: 360px;
    background: white;
    position: absolute;
    top: 0px;
    right: 77px;
}
// module
#cat_food{
    margin-top: 30px;
    height: 580px;
    .food_title{
        width: 100%;
        height: 36px;
        p{
            float: left;
            height: 100%;
            line-height: 36px;
            text-indent: 38px;
            font-size: 20px;
            background: url(../../dist/img/cate_721.png) no-repeat 0px 4px;
        }
        ul{
            float: right;
            text-align: center;
            height: 100%;
            // border-bottom: 1px solid #E74085;
            li{
                line-height: 36px;
                float: left;
                padding: 0 15px;
                font-size: 14px;
                border-left: 1px solid #E7E7E7;
                border-top: 1px solid #E7E7E7;
            }
            li:hover{
                border-top: 3px solid  #E74085;
                border-left-color: #E74085;
                border-right:1px solid #E74085;
                border-bottom-color:#E7E7E7 ;
            }
            :last-child{
                border-right: 1px solid #E7E7E7;
            }
        }
    }
    .food_content{
        // height: 717px;
        position: relative;
        .hot_food{
            width:328px ;
            height: 478px;
            background-color: brown;
            background: url(../../dist/img/498ad8814c9a341faa008c47ac28167a.jpg) no-repeat;
            position: relative;
            .hot{
                width: 298px;
                height: 148px;
                padding: 15px;
                background: rgba(255,255,255,.8);
                position:absolute;
                left: 0;
                bottom: 0px;
                color: #666666;
                font-size: 14px;
                span{
                    float: left;
                    line-height: 27px;
                }
                b{
                    height: 27px;
                    float: left;
                    font-weight: normal;
                    background: url(../../dist/img/index-ico.png) no-repeat -112px -171px;
                    text-indent: 30px;
                    line-height: 27px;
                }
                ul{
                    margin-top: 37px;
                    li{
                        line-height: 24px;
                        text-align: center;
                        a{
                            width: 77px;
                            height: 24px;
                            float: left;
                            border-radius: 30px;
                            background: #fff;
                            padding: 0 5px;
                            margin-right: 12px;
                            color: #444444;
                            font-size: 12px;;
                            margin-top: 9px;
                        }
                    }
                }
            }
            
        }
        .hot_right{
            width: 872px;
            height: 478px;
            position: absolute;
            right: 0;
            top: 1px;
            border: 1px solid  #E7E7E7;
            border-top: 1px solid #E74085;
            >div:first-child{
                float: left;
                width: 362px;
                height: 298px;
                padding-left: 27px;
                background: url(../../dist/img/5406cf049c4e92a537b645c0ce4c7b6e.jpg) no-repeat;
                border-left:1px solid rgb(231, 231, 231);
                border-bottom:1px solid rgb(231, 231, 231);
                .shark{
                    font-size: 16px;
                    cursor: pointer;
                    margin-top: 30px;
                }
                .fish{
                    color: #f40;
                    font-size: 14px;
                    margin-top: 5px;   
                    cursor: pointer;
                }
                
            }

            div:nth-of-type(2) div{
                float: left;
                width: 413px;
                height: 121px;
                padding-top: 28px;
                padding-left: 67px;
                p:nth-of-type(1){
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                p:nth-of-type(2){
                    font-size: 14px;
                    color: #f40;
                }
            }
            div:nth-of-type(2) > div:first-child{
                background: url(../../dist/img/e070145d7af99e9f059b35b14652758d.jpg);
                // border-top: 1px solid #E74085;
                border-right:1px solid rgb(231, 231, 231);
                border-left:1px solid rgb(231, 231, 231);
            }
            div:nth-of-type(2) > div:nth-of-type(2){                
                background: url(../../dist/img/10c119ffd952caf0abba9f4dc20f401b.jpg);
                border: 1px solid rgb(231, 231, 231);
            }
            .ht_bottom{
                    div{
                    width: 260px;
                    height: 161px;
                    float: left;
                    padding-left: 29px;
                    padding-top: 15px;
                    border-bottom:1px solid rgb(231, 231, 231);
                    border-left:1px solid rgb(231, 231, 231);
                    background-color:rgb(231, 231, 231) ;
                        p:nth-of-type(1){
                            font-size: 16px;
                            margin-bottom: 5px;
                        }
                        p:nth-of-type(2){
                            font-size: 14px;
                            color: #f40;
                        }
                    }   
                    div:nth-of-type(1){   
                        background: url(../../dist/img/e3c4d0672e822317d1364a350db82f74.jpg);
                    }
                    div:nth-of-type(2){   
                        background: url(../../dist/img/093d7241ca27aef1fef38ad23a24440f.jpg);
                    }
                    div:nth-of-type(3){   
                        background: url(../../dist/img/289570744a5c983b96e469ba32b040f4.jpg);
                        border-right:1px solid rgb(231, 231, 231);
                    }
                
            }
        }
    }
    >ul{
        border-right: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
    }
    >ul:nth-of-type(1){
        height: 66px;
        li{
            width: 148px;
            height: 66px;
            float: left;
            text-align: center;
            border-left: 1px solid #e7e7e7;
            img{
                width: 100px;
                height: 48px;
                margin-top: 8px;
            }
        }
    }

}

// sidebar
.sidebar{
    width: 35px;
    height: 607px;
    background: #444;
    position: fixed;
    top:0;
    right: 0;
    ul{
        li:nth-of-type(1){
            position: relative;
            >a{
                display: block;
                margin-top: 50px;
                width: 35px;
                height: 35px;
                background: url(../../dist/img/bar_new.png) no-repeat 0 -205px;
            }
            .cat{
                width: 292px;
                height: 161px;
                background: #fff;
                position: absolute;
                right: 35px;
                top:0;
                padding: 0 10px 10px 21px;
                border: 1px solid #cccccc;
                color:#000;
                text-align: center;
                line-height: 161px;
                font-size: 12px;
                display: none;
                a{
                    color: red;
                }
                
            }
        }
        li:nth-of-type(1):hover>.cat{
                display: block;
        }
        li:nth-of-type(2){
            margin-top: 20px;
            span{
                display: block;
                width: 35px;
                height: 35px;
                background: url(../../dist/img/bar_new.png) no-repeat 0 -270px;
            }
            a{
                display: block;
                color: #a6a6a6;
                width: 19px;
                font-size: 12px;
                margin-left: 10px;
            }
            b{
                margin:5px 8px 0px;
                text-align: center;
                display: block;
                font-weight: normal;
                width: 20px;
                height: 20px;
                background: #a6a6a6;
                color: #444;
                border-radius: 50%;
            }
            .cart{
                width: 292px;
                height: 100px;
                background: #fff;
                position: absolute;
                right: 35px;
                top:100px;
                padding: 0 10px 10px 21px;
                border: 1px solid #cccccc;
                color:#000;
                text-align: center;
                line-height: 100px;
                font-size: 12px;
                display: none;
                a{
                    color: red;
                }
        }
    }
    li:nth-of-type(2):hover>.cart{
        display: block;
    }
        li:nth-of-type(3){
            margin: 15px auto 10px;
            span{
                display: block;
                width: 35px;
                height: 35px;
                background: url(../../dist/img/bar_new.png) no-repeat 2px -617px;
            }
            a{
                display: block;
                color: #a6a6a6;
                width: 19px;
                font-size: 12px;
                margin-left: 10px;
            }
            b{
                margin:5px 8px 0px;
                text-align: center;
                display: block;
                font-weight: normal;
                width: 20px;
                height: 20px;
                background: #a6a6a6;
                color: #444;
                border-radius: 50%;
            }
        }
        li:nth-of-type(4){
            margin-top: 30px;
            width: 35px;
            height: 35px;
            background: url(../../dist/img/bar_new.png) no-repeat 0 -305px;
            .menu{
                width: 292px;
                height: 100px;
                background: #fff;
                position: absolute;
                right: 35px;
                top:390px;
                padding: 0 10px 10px 21px;
                border: 1px solid #cccccc;
                color:#000;
                text-align: center;
                line-height: 100px;
                font-size: 12px;
                display: none;
                a{
                    color: red;
                }
        }
        }
        li:nth-of-type(4):hover>.menu{
            display: block;
        }
        li:nth-of-type(5){
            width: 35px;
            height: 35px;
            background: url(../../dist/img/bar_new.png) no-repeat 0 -410px;
        }
        li:nth-of-type(6){
            width: 35px;
            height: 35px;
            background: url(../../dist/img/bar_new.png) no-repeat 0 -720px;
        }
        li:nth-of-type(7){
            width: 35px;
            height: 35px;
            background: url(../../dist/img/bar_new.png) no-repeat 0 -753px;
        }
        li:nth-of-type(8){
            width: 35px;
            height: 35px;
            background: url(../../dist/img/bar_new.png) no-repeat 0 -512px;
        }
    }
}

// shade
#shade{
    width: 100%;
    height: 100%;
    background:rgba($color: #000000, $alpha: 0.5);
    position: fixed;
    top:0;
    left: 0;
    //login
    #login{
        width: 322px;
        height: 389px;
        padding: 0px 50px 30px 50px;
        background: #fff;
        opacity: 1;
        border-radius: 20px;
        position: fixed;
        top: 20%;
        left: 30%;
        #login_box{
            width: 322px;
            height: 324px;
            margin-top: 48px;
            #login_content{
                width: 322px;
                height: 324px;
                font-size: 18px;
                #login_title{
                    height: 24px;
                    a{
                        float: left;
                        width: 160px;
                        height: 24px;
                        color: #333;
                        text-align: center;
                    }
                    a:nth-of-type(2){
                        color: red;
                    }
                    span{
                        float: left;
                        width: 1px;
                        height: 24px;
                        color: #dddddd;
                    }
                }
                #user_pwd{
                    #user,#pwd{
                        width: 300px;
                        height: 40px;
                        padding-left: 15px;
                        margin: 20px auto;
                        line-height: 40px;
                        border: 1px solid #dddddd;
                        border-radius: 30px;
                        line-height: 40px;
                    }
                    input{
                        width: 230px;
                        margin: 2px 16px;
                        border: none;
                        outline: none;
                        font-size: 12px;
                    }
                    
                    span{
                        width: 20px;
                        height: 20px;
                        padding-right: 32px;
                        border-right: 1px solid #dddddd;
                    }
                    
                   #user{
                        span:nth-of-type(1){
                            background: url(../../dist/img/newico.png) no-repeat 0px -60px;
                        }
                   }
                   #pwd{
                        span:nth-of-type(1){
                            background: url(../../dist/img/newico.png) no-repeat 0px -40px;
                        }
                        input:nth-of-type(1){
                            width: 160px;
                        }
                        a{
                            font-size: 14px;
                            color: #999999;
                        }
                   }
                    
                }
                #login_btn{
                    width: 322px;
                    height: 42px;
                    background: #999;
                    cursor: pointer;
                    border-radius: 30px;
                    text-align: center;
                    line-height: 42px;
                    color: #fff;
                    font-size: 14px;
            }
            p{
                width: 332px;
                height: 49px;
                margin-top: 45px;
                margin-bottom: 50px;
                span{
                    float: left;
                    font-size: 12px;
                }
                span:nth-of-type(2){ 
                    margin-left: 70px;
                    margin-top: 14px;
                    b{
                        color: #999;
                    }
                }
            }   
        }
        
    }
}
}

